/* Google Fonts source code Pro et source sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@400;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Customs properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-bg: #fafafa;
  --clr-lightblue: #aac8f0;
  --clr-darkblue: #030317;
  --clr-text-white: #fff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

strong {
  font-weight: var(--fw-bold);
  color: var(--clr-darkblue) !important;
  font-size: var(--fs-h1) !important;
  display: block;
}

:focus {
  outline: 3px solid var(--clr-lightblue);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-lightblue);
  color: var(--clr-darkblue);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}
/* Styles Generals */

body {
  background: var(--clr-bg);
  color: var(--clr-darkblue);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typograghy */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__titre {
  margin-bottom: 0.25em;
}
.section__titre--intro {
  font-weight: var(--fw-reg);
  color: var(--clr-lightblue);
  font-size: var(--fs-h2);
}

.section__soustitre {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__soustitre--intro,
.section__soustitre--apropos {
  background: var(--clr-lightblue);
  color: var(--clr-darkblue);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  width: 150px;
}

.nav {
  position: fixed;
  background: var(--clr-darkblue);
  color: var(--clr-text-white);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list {
  display: flex;
  height: 100vh;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav_link:hover {
  color: var(--clr-lightblue);
}

.nav_toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open {
  background: red;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-darkblue);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* intro section */

.intro {
  position: relative;
}
.intro__img {
  box-shadow: var(--bs);
}

.section__soustitre--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img titre"
      "img soustitre";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__soustitre--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
  }
}

/* Mes Services */
.my-services {
  background-color: var(--clr-darkblue);
  background-image: url("../img/backgroung_img.png");
  background-size: cover;
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  color: var(--clr-text-white);
  text-align: center;
}

.section__titre--services {
  color: var(--clr-lightblue);
}

.section__titre--services::after {
  content: "";
  display: block;
  width: 2.5em;
  height: 1px;
  margin: 0.5em auto;
  background: currentColor;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 550px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

.apropos {
  max-width: 1000px;
  margin: 0 auto;
}

.apropos__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .apropos {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "titre img"
      "soustitre img"
      "texte img";
    grid-column-gap: 2em;
  }

  .section__titre--apropos {
    grid-area: titre;
  }

  .section__soustitre--apropos {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 4em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .apropos__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    /* width: 380px; */
    height: 420px;
    object-fit: cover;
    object-position: bottom;
  }
}

/* Mes Projets */
.mes-projets {
  background-color: var(--clr-darkblue);
  color: var(--clr-lightblue);
  text-align: center;
}
.section__titre--projets {
  font-weight: var(--fw-bold);
  margin-bottom: 0.5em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-lightblue);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Footer */
footer {
  background-color: #000;
  color: var(--clr-lightblue);
  font-size: var(--fs-h3);
  text-align: center;
  padding: 2.5em;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}
